body {
    background-color:rgba(54, 97, 132) ;
    margin: 0;
    padding: 0;
}

:root{
    --hd-color: rgba(47, 76, 121) ;
    --main-color: rgba(54, 97, 132) ;
    --ft-color: rgba(47, 76, 121) ;
}

@font-face {
    font-family: 'facts';
    src: url(quizzie/Horizon.otf);
}




.grid{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd'
    'mn' 
    'ft'
}


.header{
    grid-area: hd;
    height: 15vh;
    background-color: var(--hd-color);
    display: flex;
    font-family: 'facts';
 
}

.main{
    grid-area: mn;
    height: 75vh;
    font-family: 'facts';
    

}

.footer{
    grid-area: ft;
    height: 10vh;
    background-color: var(--ft-color);

}


#logo{
    width: 140px;
    height: 140px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

#nav{
    height: 15vh;
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    
}

#name{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding-bottom: 7vh;
}

#tekst{
    width: 70vw;
    background-color: var(--hd-color);
    height: 18vh;
    margin-left: 15vw ;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.selected{
    border: 5px solid white;
    padding: 10px;
    border-radius: 15%;
}

#selecteer{
    width: 30vw;
    height: 23vh;
    background-color: var(--hd-color);
    margin-left: 35vw;

}

h2{
    font-size: 20px;
    margin-left: 3vw;
    padding-top: 40px;
    font-family: 'facts';
}

.btn{
    font-size: 25px;
    margin-left: 8.5vw;
    margin-top: 7vh;
    font-family: 'facts';
}

@media screen and (max-width: 768px){

}